$branch-color: black;
$selection-color: lime;
$ghost-color: blue;
$background-color: white;
$cursor: pointer;

[draggable=true] {
  -khtml-user-drag: element;
}

body.pTree-dragging * {
  cursor: move !important;
}

.pTreeCollection {
  text-align: left;
  width: 100%;
}
.pTreeCollection > tbody > .pTreeNode > .pTreeNodeLabel > .pTreeLabel {
  top: 0;
  right: 0;
}

.pTreeNodeChildren {
  text-align: right;
  width: 100%;
}

.pTreeNodeLabel {
  position: relative;
}
.pTreeNodeChildren  {
  border-left: 1px solid $branch-color;

  .pTreeNode.pTree-ghost & {
    border-color: $ghost-color;
  }
}

.pTreeNode {
  &.pTreeDragging {
    position: absolute;
  }
}
.pTreeBranch {
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 0;
  height: 100%;
  width: 100%;
  border-top: 1px solid $branch-color;
  cursor: $cursor;

  .pTreeNode.pTree-selected > .pTreeNodeLabel > & {
    border-color: $selection-color;
  }
  .pTreeNode.pTree-ghost & {
    border-color: $ghost-color;
  }
}

.pTreeLabel {
  background: $background-color;
  position: relative;
  top: 12px;
  right: 5px;
  display: inline;
  cursor: $cursor;

  .pTreeNode.pTree-selected > .pTreeNodeLabel > & {
    color: $selection-color;
  }
  .pTreeNode.pTree-ghost & {
    color: $ghost-color;
  }
}

.pTreeLabel.pTreeLeafLabel {
  top: 0;
  right: 0;
}

.pTreeNodeChildren > tbody > .pTreeNode:first-child > .pTreeNodeLabel:after {
  content: "";
  position: absolute;
  left: -1px;
  top: 0;
  height: 50%;
  width: 1px;
  background: $background-color;
}
.pTreeNodeChildren > tbody > .pTreeNode:last-child > .pTreeNodeLabel:after {
  content: "";
  position: absolute;
  left: -1px;
  bottom: -1px;
  height: 50%;
  width: 1px;
  background: $background-color;
}